.inputgroup-container {
  display: flex;
}

.input-group .form-control:disabled {
  background-color: inherit;
}

.set-button-line {
  line-height: 32px;
}

.str-card {
  width: 95%;
  padding: 10px;  
  margin-bottom: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: gray 1px 1px;
  cursor: pointer;
}

.selected-card {
  background-color: lightskyblue;
}

.name-line {
  font-weight: 600;
}

.str-list {
  height: 400px;
  overflow-x: auto;
}
